mixin article-preview-small(title, label)

  article.s-article-preview-small
    ul.s-article-preview-small__meta-list
      li.s-article-preview-small__meta-item
        +label(label)
      li.s-article-preview-small__meta-item
        +additional-label('Просмотров: 93')
    h3.s-article-preview-small__title
      a(href='/') #{title}