.s-article-preview-small {
  max-width: 30em;

  &__meta-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__meta-item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }

  &__title {
    font-size: ms(0);
    line-height: 1.25em;
    font-weight: 700;
    color: currentColor;

    a {
      color: currentColor;
      text-decoration: none;
      display: block;
      transition: all 0.25s $transition-timing--linear;

      &:hover,
      &:focus {
        text-decoration: none;
        color: currentColor;
        display: block;
        opacity: 0.75;
      }
    }
  }
}