.s-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  font-size: ms(-1);
  line-height: 1.4em;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  table {
    margin: 0;
    border: 0;
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid $border-color;
  }

  td,
  th {
    padding: 0.75rem 1.5rem 0.75rem 0;
    vertical-align: top;
    border-bottom: 1px solid $border-color;
  }

  th {
    color: rgba($text-color, 0.75);
  }
}