.s-item-review {
  margin-top: 2.25rem;
  margin-bottom: 1.5rem;

  &__number {
    position: relative;
    padding-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;
    color: $primary-color;
    font-variant-numeric: oldstyle-nums;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: $text-color;
    }
  }

  &__cover {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: (9 / 16) * 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 1;
      border-radius: $border-radius;
    }
  }

  &__grade {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: $border-radius;
    background-color: $primary-color;
    color: #fff;
    font-size: ms(1);
    line-height: 1.1em;
    font-weight: 700;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
      0px 0px 1px rgba(0, 0, 0, 0.04),
      0px 2px 6px rgba(255, 121, 14, 0.12),
      0px 16px 24px rgba(255, 121, 14, 0.2);

    @media only screen and (min-width: $screen-xs) {
      width: 6rem;
      height: 6rem;
      font-size: ms(3);
      bottom: -1.5rem;
      right: 2.25rem;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__properties {
    padding: 1rem;
    border-radius: $border-radius;
    background-color: $bg-color--shade;
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 1.5rem;
    }
  }

  &__properties-subtitle {
    font-size: ms(0);
    line-height: 1.4em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 1rem;
    }
  }

  &__property-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__property-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    font-size: ms(-1);
    line-height: 1.4em;
    font-variant-numeric: oldstyle-nums;
    position: relative;
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: rgba($text-color, 0.125);
      z-index: 1;
    }
  }

  &__property-term {
    display: block;
    margin-right: auto;
    padding-bottom: 0.5rem;
  }

  &__property-desc {
    padding-bottom: 0.5rem;
  }

  &__property-rating-line {
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    display: block;
    background-color: $primary-color;
    border-radius: 2px;
    z-index: 2;
  }

  &__cons-and-pros {

    @media only screen and (min-width: $screen-xs) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__cons-and-pros-block {
    padding: 1rem;
    border-radius: $border-radius;

    @media only screen and (min-width: $screen-xs) {
      flex: 0 0 calc(50% - 0.5rem);
      max-width: calc(50% - 0.5rem);
      height: 100%;
    }

    @media only screen and (min-width: $screen-sm) {
      padding: 1.5rem;
    }

    &--cons {
      background-color: rgba(#16c98d, 0.05);
      margin-bottom: 1rem;

      .s-item-review__cons-and-pros-subtitle {
        color: #16c98d;
      }

      .s-item-review__cons-and-pros-list {

        li {

          &::before {
            background-color: #16c98d;
          }
        }
      }

      @media only screen and (min-width: $screen-xs) {
        margin-right: 1rem;
        margin-bottom: 0;
      }
    }

    &--pros {
      background-color: rgba(#fa5e5b, 0.05);

      .s-item-review__cons-and-pros-subtitle {
        color: #fa5e5b;
      }

      .s-item-review__cons-and-pros-list {

        li {

          &::before {
            background-color: #fa5e5b;
          }
        }
      }
    }
  }

  &__cons-and-pros-subtitle {
    font-size: ms(0);
    line-height: 1.4em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 1rem;
    }
  }

  &__cons-and-pros-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.4em;

    li {
      margin: 0;
      padding: 0;
      position: relative;
      padding-left: 0.7rem;

      &::before {
        position: absolute;
        content: '';
        top: 0.4rem;
        left: 0;
        width: 0.2rem;
        height: 0.2rem;
        border-radius: 0.2rem;
      }

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }
  }
}