mixin item-review()

  .s-item-review
    .s-item-review__number 01
    .s-item-review__cover
      .s-item-review__grade 8.0
      img(src='https://images.unsplash.com/photo-1570570100030-a325c3404073?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80', alt='')
    h3.s-item-review__title Fellow Stagg Pour-Over Kettle
    .s-item-review__properties
      .s-item-review__properties-subtitle Properties
      ul.s-item-review__property-list
        li.s-item-review__property-item
          span.s-item-review__property-term Стоимость
          span.s-item-review__property-desc 4
          span.s-item-review__property-rating-line(style='width: 40%')
        li.s-item-review__property-item
          span.s-item-review__property-term Надежность
          span.s-item-review__property-desc 10
          span.s-item-review__property-rating-line(style='width: 100%;')
        li.s-item-review__property-item
          span.s-item-review__property-term Функционал
          span.s-item-review__property-desc 10
          span.s-item-review__property-rating-line(style='width: 100%;')
        li.s-item-review__property-item
          span.s-item-review__property-term Производительность
          span.s-item-review__property-desc 8
          span.s-item-review__property-rating-line(style='width: 80%;')
    .s-item-review__cons-and-pros
      .s-item-review__cons-and-pros-block.s-item-review__cons-and-pros-block--cons
        h4.s-item-review__cons-and-pros-subtitle Cons
        ul.s-item-review__cons-and-pros-list
          li Dead resurgere de crazed
          li Sepulcris creaturis
          li Zombie sicut de grave feeding iride et serpens
      .s-item-review__cons-and-pros-block.s-item-review__cons-and-pros-block--pros
        h4.s-item-review__cons-and-pros-subtitle Pros
        ul.s-item-review__cons-and-pros-list
          li Dead resurgere de crazed
          li Sepulcris creaturis
          li Zombie sicut de grave feeding iride et serpens