mixin promo()

  .s-promo
    .s-promo__slider
      .s-promo__slider-main.swiper-container
        .swiper-wrapper
          .swiper-slide
            +promo-slide(
              'Рейтинг лучших противоштормовых зонтов',
              'Вместо покупки нескольких дешевых зонтиков, которые легко ломаются, лучше преобрести надежный и качественный зонт.',
              'https://images.unsplash.com/photo-1519692933481-e162a57d6721?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')
          .swiper-slide
            +promo-slide(
              'Рейтинг лучших мангалов для дачи и похода',
              'Вместо покупки нескольких дешевых зонтиков, которые легко ломаются, лучше преобрести надежный и качественный зонт.',
              'https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1993&q=80')
          .swiper-slide
            +promo-slide(
              'Рейтинг лучших водостойких тушей для ресниц',
              'Вместо покупки нескольких дешевых зонтиков, которые легко ломаются, лучше преобрести надежный и качественный зонт.',
              'https://images.unsplash.com/photo-1506901437675-cde80ff9c746?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')
          .swiper-slide
            +promo-slide(
              'Рейтинг лучших детских раскрасок',
              'Вместо покупки нескольких дешевых зонтиков, которые легко ломаются, лучше преобрести надежный и качественный зонт.',
              'https://images.unsplash.com/photo-1477414348463-c0eb7f1359b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')
          .swiper-slide
            +promo-slide(
              'Рейтинг лучших гигантских осьминогов',
              'Вместо покупки нескольких дешевых зонтиков, которые легко ломаются, лучше преобрести надежный и качественный зонт.',
              'https://images.unsplash.com/photo-1564261356355-1aeeab88bb87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')
          .swiper-slide
            +promo-slide(
              'Рейтинг лучших дронов и квадрокоптеров',
              'Вместо покупки нескольких дешевых зонтиков, которые легко ломаются, лучше преобрести надежный и качественный зонт.',
              'https://images.unsplash.com/photo-1514598800938-f7125ea1aa1c?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80')

      .s-promo__slider-navs
        .s-promo__slider-navs-inner
          button.s-promo__slider-nav-btn.s-promo__slider-nav-btn--prev
            svg(xmlns='http://www.w3.org/2000/svg', fill='#ffffff', viewbox='0 0 6 10', width='6', height='10')
              path( d='M1e-7 8.80435L1.15789 10l3.68422-3.80435L6 5 4.84211 3.80435 1.1579-4.2e-7 7.7e-7 1.19565 3.68421 5 1e-7 8.80435z')
          button.s-promo__slider-nav-btn.s-promo__slider-nav-btn--next
            svg(xmlns='http://www.w3.org/2000/svg', fill='#ffffff', viewbox='0 0 6 10', width='6', height='10')
              path( d='M1e-7 8.80435L1.15789 10l3.68422-3.80435L6 5 4.84211 3.80435 1.1579-4.2e-7 7.7e-7 1.19565 3.68421 5 1e-7 8.80435z')

      .s-promo__slider-thumbs
        .s-promo__slider-thumbs-inner
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                .s-promo__thumb
                  .s-promo__thumb-cover
                    svg(xmlns='http://www.w3.org/2000/svg', fill='transparent', viewbox='0 0 60 60', width='60', height='60')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                    .s-promo__thumb-img-wrapper
                      img(src='https://images.unsplash.com/photo-1519692933481-e162a57d6721?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
                  span.s-promo__thumb-desc
                    | Рейтинг лучших
                    br
                    | противоштормовых зонтов

                //- +promo-thumb('Рейтинг лучших противоштормовых зонтов', 'https://images.unsplash.com/photo-1519692933481-e162a57d6721?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')
              .swiper-slide
                .s-promo__thumb
                  .s-promo__thumb-cover
                    svg(xmlns='http://www.w3.org/2000/svg', fill='transparent', viewbox='0 0 60 60', width='60', height='60')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                    .s-promo__thumb-img-wrapper
                      img(src='https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1993&q=80', alt='')
                  span.s-promo__thumb-desc
                    | Рейтинг лучших мангалов
                    br
                    | для дачи и похода
                //- +promo-thumb('Рейтинг лучших мангалов для дачи и похода', 'https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1993&q=80')

              .swiper-slide
                .s-promo__thumb
                  .s-promo__thumb-cover
                    svg(xmlns='http://www.w3.org/2000/svg', fill='transparent', viewbox='0 0 60 60', width='60', height='60')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                    .s-promo__thumb-img-wrapper
                      img(src='https://images.unsplash.com/photo-1506901437675-cde80ff9c746?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80', alt='')
                  span.s-promo__thumb-desc
                    | Рейтинг лучших водостойких
                    br
                    | тушей для ресниц
                //- +promo-thumb('Рейтинг лучших водостойких тушей для ресниц', 'https://images.unsplash.com/photo-1506901437675-cde80ff9c746?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')

              .swiper-slide
                .s-promo__thumb
                  .s-promo__thumb-cover
                    svg(xmlns='http://www.w3.org/2000/svg', fill='transparent', viewbox='0 0 60 60', width='60', height='60')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                    .s-promo__thumb-img-wrapper
                      img(src='https://images.unsplash.com/photo-1477414348463-c0eb7f1359b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80', alt='')
                  span.s-promo__thumb-desc
                    | Рейтинг лучших
                    br
                    | детских раскрасок
                //- +promo-thumb('Рейтинг лучших детских раскрасок', 'https://images.unsplash.com/photo-1477414348463-c0eb7f1359b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')

              .swiper-slide
                .s-promo__thumb
                  .s-promo__thumb-cover
                    svg(xmlns='http://www.w3.org/2000/svg', fill='transparent', viewbox='0 0 60 60', width='60', height='60')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                    .s-promo__thumb-img-wrapper
                      img(src='https://images.unsplash.com/photo-1564261356355-1aeeab88bb87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
                  span.s-promo__thumb-desc
                    | Рейтинг лучших
                    br
                    | гигантских осьминогов
                //- +promo-thumb('Рейтинг лучших гигантских осьминогов', 'https://images.unsplash.com/photo-1564261356355-1aeeab88bb87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')

              .swiper-slide
                .s-promo__thumb
                  .s-promo__thumb-cover
                    svg(xmlns='http://www.w3.org/2000/svg', fill='transparent', viewbox='0 0 60 60', width='60', height='60')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                      circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
                    .s-promo__thumb-img-wrapper
                      img(src='https://images.unsplash.com/photo-1514598800938-f7125ea1aa1c?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80', alt='')
                  span.s-promo__thumb-desc
                    | Рейтинг лучших
                    br
                    | дронов и квадрокоптеров
                //- +promo-thumb('Рейтинг лучших дронов', 'https://images.unsplash.com/photo-1514598800938-f7125ea1aa1c?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80')



mixin promo-slide(subtitle, desc, image)

  section.s-promo__slide
    .s-promo__slide-info
      .s-promo__slide-inner
        span.s-promo__slide-label
          svg(xmlns='http://www.w3.org/2000/svg', fill='#ffffff', viewbox='0 0 10 10', width='10', height='10')
            path(d='M8.94323.24791L3.03246 6.85058 1.42933 4.86995C.727712 4.20916-.374488 4.9795.126439 5.97069L2.03061 9.492c.30023.43994 1.00185.8799 1.70266 0 .30104-.44083 6.01112-8.25378 6.01112-8.25378C10.446.358337 9.5445-.412003 8.94323.24791z')
          | На 2020 год
        h2.s-promo__slide-title #{subtitle}
        p.s-promo__slide-desc #{desc}
        +btn('Открыть статью', 'light')(href='/', class='s-promo__slide-btn', tabindex='-1')
    .s-promo__slide-cover
      img(src=image, alt='')



mixin promo-thumb(desc, image)

  .s-promo__thumb
    .s-promo__thumb-cover
      svg(xmlns='http://www.w3.org/2000/svg', fill='transparent', viewbox='0 0 60 60', width='60', height='60')
        circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
        circle(cx='30', cy='30', r='29.5', stroke='#fff', fill='transparent', opacity='0.25')
      .s-promo__thumb-img-wrapper
        img(src=image, alt='')
    span.s-promo__thumb-desc #{desc}