.s-promo {

  &__slider {
    position: relative;
  }

  &__slide {
    position: relative;
    height: 600px;
    max-height: 800px;
    overflow: hidden;

    @media only screen and (min-width: $screen-sm) {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    }
  }

  &__slide-info {
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 0;
    width: 100%;
    // bottom: 5.25rem;
    bottom: 15vh;

    @media only screen and (min-width: $screen-sm) {
      // bottom: 10.5rem;
      bottom: 25vh;
    }
  }

  &__slide-inner {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }

  &__slide-label {
    background-color: rgba(#16c98d, 0.5);
    font-size: ms(-2);
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    display: inline-flex;
    padding: 0.4rem 0.8rem;
    font-weight: 700;
    color: #fff;
    border-radius: $border-radius;
    align-items: center;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    svg {
      margin-right: 0.5rem;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__slide-title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    max-width: 37.5rem;
    margin-top: 0;
    margin-left: -0.15rem;
    margin-bottom: 2.25rem;
    letter-spacing: -0.01em;
    opacity: 0;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(3);
      line-height: 1.1em;
    }

    .swiper-slide-active & {
      opacity: 1;
    }
  }

  &__slide-desc {
    position: relative;
    max-width: 32rem;
    margin-top: 0;
    font-size: ms(-1);
    line-height: 1.5em;
    margin-bottom: 1.5rem;
    color: rgba(#fff, 0.75);
    opacity: 0;

    &::before {
      position: absolute;
      content: '';
      background-color: $primary-color;
      left: 0;
      top: -0.75rem;
      width: 2.25rem;
      height: 1px;
    }

    .swiper-slide-active & {
      opacity: 1;
    }
  }

  &__slide-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#141414, 0.5);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 15s $transition-timing--linear 0.75s;
    }

    .swiper-slide-active & {

      img {
        transform: scale(1.025);
      }
    }
  }

  &__slider-navs {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 1rem;
    pointer-events: none;
    // bottom: 5.25rem;
    bottom: 15vh;

    @media only screen and (min-width: $screen-sm) {
      // bottom: 10.5rem;
      bottom: 25vh;
    }
  }

  &__slider-navs-inner {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__slider-nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.5s $transition-timing--linear;
    pointer-events: all;

    &[aria-disabled='true'] {
      opacity: 0.5;
    }

    &:hover,
    &:focus {
      outline: none;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1.1);
    }

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      fill: currentColor;
    }

    &--prev {
      margin-bottom: 1rem;

      svg {
        transform: translate3d(-50%, -50%, 0) rotate3d(0,0,1,180deg);
      }
    }
  }

  &__slider-thumbs {
    position: absolute;
    // bottom: 3rem;
    bottom: 6.5vh;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    padding: 1rem;

    @media only screen and (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  &__slider-thumbs-inner {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    .swiper-container {
      overflow: visible;
    }
  }

  &__thumb {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    pointer-events: none;

    svg {

      circle {
        transition: 1s $transition-timing--linear;
        transform: rotate(-90deg);
        transform-origin: center center;

        &:first-child {
          stroke: $primary-color;
          opacity: 1;
          stroke-dasharray: 2 * 3.14 * 29.5;
          stroke-dashoffset: 2 * 3.14 * 29.5;
        }
      }
    }

    .swiper-slide-thumb-active & {

      svg {

        circle {

          &:first-child {
            stroke: $primary-color;
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }

  &__thumb-cover {
    position: relative;

    svg {
      position: absolute;
      top: -0.25rem;
      left: -0.25rem;
      z-index: 3;
    }
  }

  &__thumb-img-wrapper {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 2.5rem;
    position: relative;
    z-index: 2;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__thumb-desc {
    font-size: ms(-1);
    line-height: 1.4em;
    color: #fff;
    font-weight: 500;
    padding-left: 0.75rem;
  }
}