.s-to-top {
  position: fixed;
  z-index: 1000;
  right: 1.5rem;
  bottom: 2.25rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  display: block;
  transition:
    opacity 0.75s $transition-timing--linear,
    transform 0.75s $transition-timing--linear;
  will-change: transform;
  color: $text-color;

  &__field {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
    0px 2px 6px rgba(255, 121, 14, 0.12),
    0px 16px 24px rgba(255, 121, 14, 0.2);
    transition: transform 0.75s $transition-timing--linear;
    display: block;
    overflow: visible;
    border-radius: 3rem;
  }

  .js & {
    opacity: 0;
    transform: translate3d(0, 6rem, 0);

    &--visible {
      opacity: 1;
      transform: translate3d(0, 0, 0);

      &:hover {

        .s-to-top__field {
          transform: scale(0.9);
        }
      }
    }
  }

  &__scroll-percentage {
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%);
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;
    display: block;
    white-space: nowrap;
    font-variant-numeric: oldstyle-nums;
    color: currentColor;
    pointer-events: none;
  }
}