mixin to-top(mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-to-top--' + modsList[i].trim();
      }
    }

  a.s-to-top#s-to-top(class=allMods, href='/')&attributes(attributes)
    span.s-to-top__field
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 60 60', width='60', height='60')
        circle(cx='30', cy='30', r='30', fill='#FF790E')
        path(fill='#fff', d='M30.0007 22c-.26.0102-.5606.1172-.7501.2955l-5.9098 5.5462c-.4529.3822-.4438 1.1175-.0357 1.5472.408.4298 1.1307.465 1.5358.0324l4.0688-3.796v11.2854c0 .6026.4885 1.091 1.091 1.091.6026 0 1.0911-.4884 1.0911-1.091V25.6253l4.0687 3.796c.4051.4326 1.1309.3972 1.5389-.0327.4081-.4298.4099-1.1755-.0387-1.5472l-5.9099-5.5461c-.2116-.1992-.4584-.2924-.7501-.2953z')
    span.s-to-top__scroll-percentage 0%
