.s-pagination {

  &__list {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    margin: 0;
    font-size: ms(-1);
    line-height: 1.4em;

    & + & {
      margin-left: 1rem;
    }

    a,
    span {
      display: block;
      color: currentColor;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: -0.5rem;
        right: -0.5rem;
        bottom: -0.5rem;
        left: -0.5rem;
      }
    }

    &:not(.s-pagination__item--active):hover {

      a {}
    }

    &--active {

      a,
      span {

        &::after {
          border-radius: $border-radius;
        }
      }
    }
  }
}