mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__inner
      +logo('/').s-page-header__logo
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 94 18', width='94', height='18')
          path(d='M5.69336 14.2832c1.39648 0 2.73437-.166 3.75-.5078l.23437-3.3399c-.37109.0977-.80078.1465-1.1914.1465-.82031 0-1.11328-.2636-1.11328-1.00583V7.06641h2.20703V3.74609H7.37305V.71875L1.36719 1.89062v1.85547H.292969v3.32032H1.36719v3.83789c0 2.2754 1.40625 3.3789 4.32617 3.3789zm12.28514.0195c5.1953 0 7.7051-1.6992 7.7051-5.22458v-.40039c0-3.52539-2.5098-5.22461-7.7051-5.22461s-7.7051 1.69922-7.7051 5.22461v.40039c0 3.52538 2.5098 5.22458 7.7051 5.22458zm0-3.3203c-1.084 0-1.6015-.6445-1.6015-1.99217v-.22461c0-1.35742.5175-1.99218 1.6015-1.99218s1.6016.63476 1.6016 1.99218v.22461c0 1.34767-.5176 1.99217-1.6016 1.99217zm18.9551-7.43162c-2.0996 0-3.5645.82031-4.5215 2.5293l-.1855-.08789c.3808-1.07422.5371-1.81641.5371-2.2461h-6.0059V17.418h6.0059v-2.5293c0-1.0938-.1367-1.8946-.5371-3.0274l.1855-.0976c.9668 1.709 2.4317 2.5293 4.5215 2.5293 3.3984 0 5.0391-1.7578 5.0391-5.40042v-.03906c0-3.57422-1.6407-5.30274-5.0391-5.30274zm-2.5293 3.21289c1.0547 0 1.5625.6543 1.5625 2.02149v.27343c0 1.37691-.5078 2.04101-1.5625 2.04101-1.1035 0-1.6406-.6641-1.6406-2.04101v-.27343c0-1.36719.5371-2.02149 1.6406-2.02149zm15.5859 7.43163c5.2637 0 7.1778-1.2012 7.1778-3.6719 0-2.65621-2.4805-3.04684-4.3067-3.28121l-1.8164-.23438c-1.8164-.23437-2.3047-.38086-2.3047-.70312 0-.3418.2832-.50781 1.0059-.50781 1.0449 0 1.4941.2539 1.4258.92773l5.6543-.01953c.0781-2.17774-1.9239-3.25196-7.041-3.25196-4.8926 0-6.8164 1.34766-6.8164 3.63282 0 2.33398 2.0996 2.71484 3.8964 2.99806l1.8067.2734c1.7969.2832 2.5976.4395 2.5976.8789 0 .3809-.4199.5664-1.2988.5664-.9375 0-1.3672-.3515-1.2988-1.1132l-5.8203-.0586c-.0684 2.5293 1.7382 3.5644 7.1386 3.5644zm15.7618.1074c5.1953 0 7.705-1.6992 7.705-5.22458v-.40039c0-3.52539-2.5097-5.22461-7.705-5.22461-5.1954 0-7.7051 1.69922-7.7051 5.22461v.40039c0 3.52538 2.5097 5.22458 7.7051 5.22458zm0-3.3203c-1.084 0-1.6016-.6445-1.6016-1.99217v-.22461c0-1.35742.5176-1.99218 1.6016-1.99218 1.0839 0 1.6015.63476 1.6015 1.99218v.22461c0 1.34767-.5176 1.99217-1.6015 1.99217zM77.0605 14h8.3204l3.7793-10.25391h-5.9278L82.0508 7.7207c-.2344.77149-.4395 1.5918-.625 2.5684h-.1953c-.1856-.9766-.3907-1.79691-.6348-2.5684l-1.2305-3.97461h-6.1035L77.0605 14zm11.0254-4.28711V14h5.3809V9.71289h-5.3809z')
      nav.s-page-header__nav
        ul.s-page-header__nav-list
          li
            a(href='/') Электроника
            ul
              li: a(href='/') Все
              li: a(href='/') Смартфоны
              li: a(href='/') Ноутбуки
              li: a(href='/') Акустика
              li: a(href='/') Дроны
              li: a(href='/') Интернет
          li
            a(href='/') Фото и видео
            ul
              li: a(href='/') First
              li: a(href='/') Second
              li: a(href='/') Third
              li: a(href='/') Fourth

          li
            a(href='/') Здоровье
            ul
              li: a(href='/') First
              li: a(href='/') Second
              li: a(href='/') Third
              li: a(href='/') Fourth
          li
            a(href='/') Бытовая техника
            ul
              li: a(href='/') First
              li: a(href='/') Second
              li: a(href='/') Third
              li: a(href='/') Fourth
          li
            a(href='/') Ремонт
            ul
              li: a(href='/') First
              li: a(href='/') Second
              li: a(href='/') Third
              li: a(href='/') Fourth
          li
            a(href='/') Товары для детей
            ul
              li: a(href='/') First
              li: a(href='/') Second
              li: a(href='/') Third
              li: a(href='/') Fourth
          li
            a(href='/') Хобби
            ul
              li: a(href='/') First
              li: a(href='/') Second
              li: a(href='/') Third
              li: a(href='/') Fourth
      button.s-page-header__search-btn
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 14', width='14', height='14')
          path(d='M13.8142 12.9166l-3.1863-3.18607c.8585-1.05991 1.3267-2.37017 1.3267-3.75339 0-1.5966-.6216-3.09776-1.7509-4.22663C9.0749.621649 7.57382 0 5.97731 0 4.3808 0 2.87972.621649 1.75092 1.75051.622115 2.87938 0 4.38054 0 5.97714s.622115 3.09775 1.75092 4.22666c1.1288 1.1288 2.62988 1.751 4.22639 1.751 1.38315 0 2.69334-.4683 3.75268-1.3268l3.18581 3.1861c.1239.1239.2863.1859.4487.1859s.3248-.062.4487-.1859c.2489-.2474.2489-.6496.001-.8975zM2.64886 9.30626c-1.835363-1.83546-1.835363-4.82228 0-6.65775.88896-.889 2.07123-1.37872 3.32895-1.37872 1.25722 0 2.43949.48972 3.32844 1.37872.88895.889 1.37915 2.07133 1.37915 3.32913 0 1.25779-.4897 2.43962-1.37915 3.32912-.88945.88954-2.07122 1.37924-3.32844 1.37924-1.25772-.001-2.43999-.4907-3.32895-1.37974z')
      +hamburger().s-page-header__hamburger
    .s-page-header__scroll-indicator
      .s-page-header__scroll-indicator-active
