.s-page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-left: 1rem;
  padding-right: 1rem;
  color: $text-color;
  background-color: #fff;
  transition: 0.25s $transition-timing--linear;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    will-change: transform;
    transform: scaleY(0);
    transition: 0.25s $transition-timing--linear;
    box-shadow: 0 1px 1px rgba($text-color, 0.125);
    transform-origin: center top;
    z-index: -1;
  }

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    transition: 0.25s $transition-timing--linear;
    min-height: 4rem;

    @media only screen and (min-width: $screen-lg) {
      min-height: 6rem;
      padding: 0;
    }
  }

  &__logo {
    margin-right: auto;
    color: $text-color;

    svg {
      fill: currentColor;
    }
  }

  &__nav {
    display: none;

    @media only screen and (min-width: $screen-md) {
      display: block;
    }
  }

  &__nav-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;

    > li {
      font-size: ms(-1);
      line-height: 1.4em;
      letter-spacing: 0.02em;
      color: $text-color;
      padding: 0;
      margin: 0;
      position: relative;

      &:not(:last-child) {
        margin-right: 0.75rem;

        @media only screen and (min-width: $screen-md) {
          margin-right: 2.25rem;
        }
      }

      &:hover,
      &:focus-within {

        > ul {

          @media (min-width: $screen-md) {
            visibility: visible;
            opacity: 1;
            display: block;
          }
        }
      }

      > a,
      button {
        display: inline-block;
        color: currentColor;
        font-weight: 600;
        position: relative;
        padding: 0;

        &::before {
          position: absolute;
          content: '';
          top: -0.5rem;
          right: -0.5rem;
          bottom: -0.5rem;
          left: -0.5rem;
        }

        // &::after {
        //   content: '';
        //   position: absolute;
        //   bottom: -0.75rem;
        //   left: 0;
        //   height: 1px;
        //   width: 100%;
        //   background-color: currentColor;
        //   transform: scaleX(0);
        //   transition: transform 0.5s $transition-timing--linear;
        //   transform-origin: right center;
        // }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;
          outline: none;

        //   &::after {
        //     transform: scaleX(1);
        //     transform-origin: left center;
        //   }
        }
      }

      > ul {
        padding: 0.25rem 1.25rem;
        margin: 0;
        list-style: none;
        display: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background-color: #fff;
        color: $text-color;
        min-width: 10rem;
        max-width: 15rem;
        left: -1.5rem;
        top: 100%;
        margin: 0;
        line-height: 1.4em;
        white-space: nowrap;
        z-index: 1000;
        margin-top: 0.5rem;
        border-radius: $border-radius;

        > li {
          margin: 0;
          padding: 0;

          &:not(:last-child) {
            border-bottom: 1px solid $border-color;
          }

          &::before {
            display: none;
          }

          > a {
            display: block;
            color: currentColor;
            padding: 0.75rem 0;
            text-decoration: none;
            font-weight: 500;

            &:hover,
            &:focus {
              color: currentColor;
              text-decoration: none;
            }
          }
        }

        &:hover,
        &:focus-within {
          visibility: visible;
          opacity: 1;
          display: block;
        }
      }
    }
  }

  &__search-btn {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    padding: 0;
    position: relative;
    margin-left: 1.5rem;
    color: $text-color;

    @media only screen and (min-width: $screen-sm) {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 2.5rem;
      margin-left: 2.25rem;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid currentColor;
      border-radius: 100%;
      z-index: 2;
      transition:
        opacity 0.75s $transition-timing--linear,
        transform 0.75s $transition-timing--linear;
      opacity: 0.25;
    }

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      transition: transform 0.5s $transition-timing--linear;
      fill: currentColor;
    }

    &:hover,
    &:focus {

      svg {
        transform: translate3d(-50%, -50%, 0) scale(1.125);
      }

      &::before {
        transform: scale(1.25);
        opacity: 0.05;
      }
    }
  }

  &__hamburger {
    margin-left: 0.75rem;

    @media only screen and (min-width: $screen-md) {
      display: none;
    }
  }

  &__scroll-indicator {
    position: absolute;
    top: 100%;
    height: 2px;
    left: 0;
    width: 100%;
    background-color: transparent;
  }

  &__scroll-indicator-active {
    height: 100%;
    width: 0;
    background-color: $primary-color;
  }

  &--dark {
    color: #fff;
    background-color: transparent;

    .s-page-header__nav-list li,
    .s-page-header__logo,
    .s-page-header__search-btn,
    .s-page-header__hamburger {
      color: #fff;
    }

    .s-page-header__nav-list li ul li {
      color: $text-color;
    }
  }

  &--compact {
    color: $text-color;

    &::before {
      transform: scaleX(1);
    }

    .s-page-header__inner {
      min-height: 3rem;

      @media only screen and (min-width: $screen-lg) {
        min-height: 4rem;
      }
    }

    .s-page-header__nav-list li,
    .s-page-header__logo,
    .s-page-header__search-btn,
    .s-page-header__hamburger {
      color: $text-color;
    }
  }
}