mixin mobile-menu()

  #s-mobile-menu.s-mobile-menu
    button.s-mobile-menu__close
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 12 12', width='12', height='12')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M.217341.217341c.273743-.2737438.70005-.2912633.952179-.039131L11.8218 10.8305c.2521.2521.2346.6784-.0391.9522-.2738.2737-.7001.2912-.9522.0391L.17821 1.16952C-.0739223.91739-.0564029.491084.217341.217341z')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M.217341 11.7827c-.2737432-.2738-.2912627-.7001-.03913-.9522L10.8305.178219c.2521-.2521326.6784-.2346131.9522.03913.2737.273744.2912.70005.0391.952181L1.16952 11.8218c-.252128.2521-.678435.2346-.952179-.0391z')
    .s-mobile-menu__inner
      ul.s-mobile-menu__list.s-mobile-menu__list--rubricks
        li
          button(
            data-toggle='collapse', href='#electronic', role='button', aria-expanded='false', aria-controls='electronic'
          ) Электроника
          ul#electronic.collapse.multi-collapse
            li: a(href='/') Все
            li: a(href='/') Смартфоны
            li: a(href='/') Ноутбуки
            li: a(href='/') Акустика
            li: a(href='/') Дроны
            li: a(href='/') Интернет
            li: a(href='/') Фото и видео
        li
          button(
            data-toggle='collapse', href='#health', role='button', aria-expanded='false', aria-controls='health'
          ) Здоровье
          ul#health.collapse.multi-collapse
            li: a(href='/') First
            li: a(href='/') Second
            li: a(href='/') Third
            li: a(href='/') Fourth
        li
          button(
            data-toggle='collapse', href='#domestic', role='button', aria-expanded='false', aria-controls='domestic'
          ) Бытовая техника
          ul#domestic.collapse.multi-collapse
            li: a(href='/') First
            li: a(href='/') Second
            li: a(href='/') Third
            li: a(href='/') Fourth
        li
          button(
            data-toggle='collapse', href='#fix', role='button', aria-expanded='false', aria-controls='fix'
          ) Ремонт
          ul#fix.collapse.multi-collapse
            li: a(href='/') First
            li: a(href='/') Second
            li: a(href='/') Third
            li: a(href='/') Fourth
        li
          button(
            data-toggle='collapse', href='#kids', role='button', aria-expanded='false', aria-controls='kids'
          ) Детям
          ul#kids.collapse.multi-collapse
            li: a(href='/') First
            li: a(href='/') Second
            li: a(href='/') Third
            li: a(href='/') Fourth
        li
          button(
            data-toggle='collapse', href='#hobby', role='button', aria-expanded='false', aria-controls='hobby'
          ) Хобби
          ul#hobby.collapse.multi-collapse
            li: a(href='/') First
            li: a(href='/') Second
            li: a(href='/') Third
            li: a(href='/') Fourth
      ul.s-mobile-menu__list.s-mobile-menu__list--pages
        li: a(href='/') О нас
        li: a(href='/') Редакция
        li: a(href='/') Реклама на сайте
        li: a(href='/') Соглашения и правила
        li: a(href='/') Правообладателям
        li: a(href='/') Карта сайта
      ul.s-mobile-menu__privacy
        p Копирование материала разрешено только с активной гиперссылкой на сайт “topsov”.
        p © 2020 — tosov.com
