.s-writer {
  display: flex;
  align-items: center;

  &__info {
    margin-left: 0.75rem;
  }

  &__name {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;
    display: block;
  }

  &__article-datetime {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 400;
    display: block;
    font-variant-numeric: oldstyle-nums;
    opacity: 0.75;
  }

  &__photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -0.25rem;
      left: -0.25rem;
      width: 3rem;
      height: 3rem;
      border-radius: 3rem;
      background-color: transparent;
      border: 1px solid currentColor;
      opacity: 0.25;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}