mixin writer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  .s-writer(class=allMods)&attributes(attributes)
    .s-writer__photo
      img(src='https://images.unsplash.com/photo-1583403903633-42f038094cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', alt="alt")
    .s-writer__info
      span.s-writer__name Wade Warren
      time.s-writer__article-datetime(datetime='2020-07-03') 20.03.2020