.s-article {
  padding: 4rem 1rem 2.25rem;

  @media only screen and (min-width: $screen-xs) {
    padding: 6rem 1rem 2.25rem;
  }

  &__inner {
    max-width: 1300px;
    margin: auto;
  }

  &__cover {
    height: 210px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    border-radius: $border-radius;

    @media only screen and (min-width: $screen-xs) {
      height: 270px;
    }

    @media only screen and (min-width: $screen-sm) {
      height: 300px;
    }

    @media only screen and (min-width: $screen-md) {
      height: 540px;
      margin-bottom: 2.25rem;
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__layout {

    @media only screen and (min-width: $screen-md) {
      display: grid;
      grid-template-areas:
        'article-writer article-intro more-articles'
        '. article-intro more-articles'
        'article-nav article-main more-articles';
      grid-template-columns: 0.2fr 0.55fr 0.25fr;
      grid-template-rows: auto;
      grid-gap: 1rem 2rem;
    }
  }

  &__writer {
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-md) {
      grid-area: article-writer;
      margin-bottom: 0;
    }
  }

  &__nav {

    @media only screen and (min-width: $screen-md) {
      grid-area: article-nav;
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media only screen and (max-width: ($screen-md - 1)) {
      display: none;
    }

    li {
      padding: 0;
      margin: 0;
      font-size: ms(-1);
      line-height: 1.4em;
      color: $text-color;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        color: currentColor;
      }

      &.active {

        a {
          color: $primary-color;
        }
      }
    }

    @media only screen and (min-width: $screen-md) {
      position: sticky;
      top: 5rem;
    }
  }

  &__intro {

    @media only screen and (min-width: $screen-md) {
      grid-area: article-intro;
      padding-right: 1.5rem;
    }
  }

  &__main {
    margin-bottom: 3rem;
    position: relative;

    @media only screen and (min-width: $screen-md) {
      grid-area: article-main;
      padding-right: 1.5rem;
      margin-bottom: 0;
    }
  }

  &__also-read {

    @media only screen and (min-width: $screen-md) {
      grid-area: more-articles;
      position: relative;

      // &::before {
      //   position: absolute;
      //   content: '';
      //   top: 0;
      //   bottom: 0;
      //   width: 1px;
      //   background-color: $border-color;
      //   opacity: 0.5;
      //   left: -1rem;
      //   transform: translateX(-50%);
      // }
    }
  }

  &__label-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__label-item {
    margin: 0;
    padding: 0;
    margin-bottom: 0.25rem;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(2);
      line-height: 1.1em;
      margin-bottom: 1.5rem;
    }
  }

  &__attention-grabber {
    font-weight: 700;
    margin-bottom: 0.75rem;
    line-height: 1.4em;
    font-style: italic;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 1rem;
    }

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__text-block {

    h2 {
      margin-top: 2.25rem;
      margin-bottom: 0.75rem;
      font-size: ms(1);
      line-height: 1.25em;
      font-weight: 700;
    }

    p + p {
      margin-top: 0;
      text-indent: 1.5em;
    }

    blockquote {
      font-size: ms(1);
      line-height: 1.25em;
      font-weight: 700;
      font-style: italic;
      border-top: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
      padding: 1rem 0;
      margin: 1.5rem 0;
    }
  }

  &__share {
    margin-top: 1.5rem;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 1.5rem 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .ya-share2__container_size_m .ya-share2__icon {
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
    }

    .ya-share2__item_service_vkontakte .ya-share2__badge,
    .ya-share2__item_service_facebook .ya-share2__badge {
      background-color: transparent;
    }

    .ya-share2__item_service_facebook .ya-share2__icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 30 30'%3E%3Ccircle cx='15' cy='15' r='14.5' stroke='%23D5DADD'/%3E%3Cpath fill='%23263340' fill-rule='evenodd' d='M13.8163 13.0951v-1.5237-.0163c-.0009-.3348-.006-2.26946 2.3474-2.26946h1.6934v2.28576h-1.4693c-.1007-.0125-.2012.0237-.2729.098-.0716.0743-.1065.1786-.0945.2829v1.1428h1.8368l-.3673 2.2857h-1.4695v5.3334h-2.2041v-5.3334h-1.1019v-2.2857h1.1019z' clip-rule='evenodd'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }

    .ya-share2__item_service_vkontakte .ya-share2__icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 30 30'%3E%3Ccircle cx='15' cy='15' r='14.5' stroke='%23D5DADD'/%3E%3Cpath fill='%23263340' d='M22.2957 18.6323c-.0408-.0667-.2861-.6079-1.4756-1.7218-1.1896-1.1138-1.0792-.9765.4087-2.9964.9116-1.2275 1.2795-1.9609 1.165-2.2982-.0613-.1922-.7807-.1412-.7807-.1412h-2.2033c-.1907-.0074-.3729.0763-.4864.2235-.2535.4158-.3557.9492-.8176 1.7571-.9974 1.71-1.3939 1.7962-1.5574 1.6903-.4088-.2235-.3147-1.0079-.3147-1.5217 0-1.6511.2493-2.3532-.4824-2.5218-.3425-.0703-.6921-.1045-1.0424-.102-.8175.0196-1.4756 0-1.8599.1922-.2534.1255-.4496.3922-.327.4197.257.0252.4933.1464.6581.3372.1537.3166.2292.6628.2208 1.0119 0 0 .1308 1.961-.3066 2.1885-.3025.1647-.7154-.1726-1.6024-1.7218-.4537-.7844-.5028-1.3099-.8175-1.6668-.14-.1498-.3262-.2529-.5314-.2942H8.04187s-.36381-.0235-.43739.0706c-.07358.0942 0 .3922 0 .3922s1.6637 3.922 3.54812 5.9065c.9209 1.044 2.2548 1.6711 3.679 1.7296 0 0 1.1404.051 1.2958-.2157.0792-.1167.1218-.2529.1226-.3922 0 0 0-1.204.5355-1.3805.5355-.1765 1.2468 1.1766 1.9907 1.6786.2689.2307.6261.343.9852.3098h1.9866s1.0424-.1098.5477-.9334z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }

    .ya-share2__container_size_m .ya-share2__item {
          margin: 5px 10px 5px 0;
    }
  }

  &__share-subtitle {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;
    margin: 0;
    margin-right: 0.75rem;
  }

  &__rubrics {
    margin-top: 3rem;
  }
}