.s-category-preview {
  padding: 2.25rem 1rem;

  & + & {
    padding-top: 0;
  }

  @media only screen and (min-width: $screen-sm) {
    padding: 4.5rem 1rem;
  }

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__header {
    position: relative;
    padding-top: 0.75rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
    }
  }

  &__title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 700;
    margin: 0;
  }

  &__show-more-link {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 700;
    display: block;
    letter-spacing: 0.02em;
    display: flex;
    align-items: baseline;
    color: $primary-color;
    transition: all 0.25s $transition-timing--linear;
    margin-left: 2rem;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
    }

    svg {
      display: block;
      margin-left: 0.75rem;
      transform: translateY(1px);
      fill: currentColor;
    }
  }

  &__groups {

    @media only screen and (min-width: $screen-sm) {
      display: grid;
      grid-template-areas: 'group-left group-center';
      grid-template-columns: 0.75fr 0.25fr;
      grid-gap: 2rem;
    }

    @media only screen and (min-width: $screen-md) {
      display: grid;
      grid-template-areas: 'group-left group-center group-right';
      grid-template-columns: 0.5fr 0.25fr 0.25fr;
      grid-gap: 2rem;
    }
  }

  &__group {
    position: relative;

    @media only screen and (max-width: ($screen-sm - 1)) {

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    &--left {

      @media only screen and (min-width: $screen-sm) {
        grid-area: group-left;
      }
    }

    &--center {

      @media only screen and (min-width: $screen-sm) {
        grid-area: group-center;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          width: 1px;
          left: -1rem;
          transform: translateX(-50%);
          background-color: $border-color;
        }
      }
    }

    &--right {

      @media only screen and (max-width: ($screen-md - 1)) {
        display: none;
      }

      @media only screen and (min-width: $screen-sm) {
        grid-area: group-right;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          width: 1px;
          left: -1rem;
          transform: translateX(-50%);
          background-color: $border-color;
        }
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &--reverse {

    .s-category-preview__groups {

      @media only screen and (min-width: $screen-sm) {
        display: grid;
        grid-template-areas: 'group-center group-left';
        grid-template-columns: 0.25fr 0.75fr;
        grid-gap: 2rem;
      }

      @media only screen and (min-width: $screen-md) {
        display: grid;
        grid-template-areas: 'group-right group-center group-left';
        grid-template-columns: 0.25fr 0.25fr 0.5fr;
        grid-gap: 2rem;
      }
    }

    .s-category-preview__group {

      &--left {

        @media only screen and (min-width: $screen-sm) {

          &::before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            width: 1px;
            left: -1rem;
            transform: translateX(-50%);
            background-color: $border-color;
          }
        }
      }

      &--center {

        @media only screen and (min-width: $screen-sm) {


          &::before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            width: 1px;
            left: -1rem;
            transform: translateX(-50%);
            background-color: $border-color;
          }
        }
      }

      &--right {

        @media only screen and (min-width: $screen-sm) {

          &::before {
            display: none;
          }
        }
      }
    }
  }
}