.s-category {
  padding: 6rem 1rem 2.25rem;

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__header {
    position: relative;
    padding-top: 0.75rem;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    @media only screen and (min-width: $screen-md) {
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
    }
  }

  &__title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &__directions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    overflow-x: scroll;

    @media only screen and (min-width: $screen-sm) {
      flex-flow: row wrap;
    }

    @media only screen and (min-width: $screen-md) {
      overflow: visible;
      margin-left: 1.5rem;
    }
  }

  &__directions-item {
    padding: 0;
    margin: 0;
    font-size: ms(-1);
    line-height: 1.4em;
    color: rgba($text-color, 0.75);

    &:not(:last-child) {
      margin-right: 0.5rem;

      @media only screen and (min-width: $screen-sm) {
        margin-bottom: 0.5rem;
      }

      @media only screen and (min-width: $screen-md) {
        margin-bottom: 0;
        margin-right: 1.5rem;
      }
    }

    a {
      display: block;
      padding: 0.4rem 0.8rem;
      font-weight: 500;
      color: currentColor;
      border-radius: $border-radius;
      border: 1px solid $border-color;

      @media only screen and (min-width: $screen-md) {
        border: 0;
        border-radius: 0;
        padding: 0;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          top: -0.5rem;
          right: -0.5rem;
          bottom: -0.5rem;
          left: -0.5rem;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -0.75rem;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: currentColor;
          transform: scaleX(0);
          transition: transform 0.5s $transition-timing--linear;
          transform-origin: right center;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          &::after {
            transform: scaleX(1);
            transform-origin: left center;
          }
        }
      }
    }

    &--is-active {

      a {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;

        @media only screen and (min-width: $screen-md) {
          background: none;
          color: $primary-color;

          &::after {
            transform: scaleX(1);
            transform-origin: left center;
          }
        }
      }
    }
  }

  &__layout {

    @media only screen and (min-width: $screen-sm) {
      display: grid;
      grid-template-areas: 'main also-read';
      grid-template-columns: 0.75fr 0.25fr;
      grid-gap: 2rem;
    }
  }

  &__main {
    grid-area: main;
    overflow: hidden;
  }

  &__main-grid {

    @media only screen and (min-width: $screen-xs) {
      display: flex;
      flex-flow: row wrap;
      padding: 1rem 0 0 1rem;
      margin: -1rem;

      @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem 1rem;
        margin: 0;
        padding: 0;
      }
    }

    @media only screen and (min-width: $screen-sm) {

      @supports (display: grid) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &__main-grid-cell {

    @media only screen and (max-width: ($screen-xs - 1)) {

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    @media only screen and (min-width: $screen-xs) {
      width: 50%;
      border: 0 solid transparent;
      border-width: 0 1rem 1rem 0;
      background-clip: padding-box;

      @supports (display: grid) {
        margin: 0;
        border: 0;
        width: 100%;
      }
    }

    @media only screen and (min-width: $screen-sm) {
      width: 33.3333333333%;

      @supports (display: grid) {
        width: 100%;
      }
    }
  }

  &__pagination {
    margin-top: 1.5rem;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 1.5rem 0;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__also-read {
    grid-area: also-read;
    position: relative;

    @media only screen and (max-width: ($screen-sm - 1)) {
      margin-top: 2.25rem;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: $border-color;
      left: -1rem;
      transform: translateX(-50%);
    }
  }
}