.s-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#141414, 1);
  z-index: 998;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: $transition-timing--linear;
  transition-delay: 0s;
  pointer-events: none;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $text-color;
    padding: 0;
    display: flex;
    z-index: 1000;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    outline: none;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    &:hover,
    &:focus {

      &::after {
        transform: scale(2.5);
        opacity: 0.025;
      }
    }

    svg {
      fill: currentColor;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      fill: #fff;
    }

    &::before {
      position: absolute;
      content: '';
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.05;
      border-radius: 100%;
      transform: scale(3);
      transition: all 0.55s $transition-timing--linear;
    }
  }

  &__form {
    max-width: 600px;
    width: 100%;
    position: relative;

    input {
      width: 100%;
      background-color: #141414;
      font-size: ms(0);
      line-height: 1.5em;
      font-weight: 500;
      color: #fff;
      padding: 1rem 1.5rem;
      border: 0;
      border-bottom: 1px solid rgba(#fff, 0.25);
      outline: none;
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 4.5rem;
      border-left: 1px solid rgba(#fff, 0.25);

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
      }
    }
  }

  &--is-active {
    opacity: 1;
    pointer-events: all;
  }
}