mixin search()

  .s-search
    button.s-search__close
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 12 12', width='12', height='12')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M.217341.217341c.273743-.2737438.70005-.2912633.952179-.039131L11.8218 10.8305c.2521.2521.2346.6784-.0391.9522-.2738.2737-.7001.2912-.9522.0391L.17821 1.16952C-.0739223.91739-.0564029.491084.217341.217341z')
        path(fill-rule='evenodd', clip-rule='evenodd', d='M.217341 11.7827c-.2737432-.2738-.2912627-.7001-.03913-.9522L10.8305.178219c.2521-.2521326.6784-.2346131.9522.03913.2737.273744.2912.70005.0391.952181L1.16952 11.8218c-.252128.2521-.678435.2346-.952179-.0391z')
    form.s-search__form
      input(type='text', placeholder='Type something')
      button(type='submit')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 14', width='14', height='14')
          path(fill='#fff', d='M13.8142 12.9166l-3.1863-3.18607c.8585-1.05991 1.3267-2.37017 1.3267-3.75339 0-1.5966-.6216-3.09776-1.7509-4.22663C9.0749.621649 7.57382 0 5.97731 0 4.3808 0 2.87972.621649 1.75092 1.75051.622115 2.87938 0 4.38054 0 5.97714s.622115 3.09775 1.75092 4.22666c1.1288 1.1288 2.62988 1.751 4.22639 1.751 1.38315 0 2.69334-.4683 3.75268-1.3268l3.18581 3.1861c.1239.1239.2863.1859.4487.1859s.3248-.062.4487-.1859c.2489-.2474.2489-.6496.001-.8975zM2.64886 9.30626c-1.835363-1.83546-1.835363-4.82228 0-6.65775.88896-.889 2.07123-1.37872 3.32895-1.37872 1.25722 0 2.43949.48972 3.32844 1.37872.88895.889 1.37915 2.07133 1.37915 3.32913 0 1.25779-.4897 2.43962-1.37915 3.32912-.88945.88954-2.07122 1.37924-3.32844 1.37924-1.25772-.001-2.43999-.4907-3.32895-1.37974z')