.s-rubrics {
  background-color: $text-color;
  color: #fff;

  &__title {
    margin: 0;
    font-size: ms(0);
    line-height: 1.3em;
    padding: 1rem 2rem 1rem 1rem;
    background-color: darken($text-color, 5%);
    font-weight: 700;
  }

  &__list {
    margin: 0;
    list-style: none;
    padding: 1rem;
    padding-bottom: 1.5rem;

    > li {
      font-size: ms(-1);
      line-height: 1.4em;
      font-weight: 500;
      margin: 0;
      padding: 0;
      padding-left: 1rem;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      > a,
      button {
        display: inline-block;
        color: currentColor;
        position: relative;
        opacity: 0.75;
        margin: 0;
        padding: 0;
        font-weight: 500;

        &:hover,
        &:focus {
          outline: none;
          opacity: 1;
        }

        &[aria-expanded='true'] {
          opacity: 1;

          &::before {
            transform: rotate3d(0, 0, 1, -360deg);
          }

          &::after {
            transform: rotate3d(0, 0, 1, -360deg);
          }
        }

        &::before,
        &::after {
          position: absolute;
          content: '';
          height: 1px;
          width: 10px;
          background-color: currentColor;
          top: 10px;
          left: -1rem;
          transition: 0.5s $transition-timing--linear;
          will-change: transform;
        }

        &::after {
          transform-origin: center center;
          transform: rotate3d(0,0,1,-90deg);
        }
      }

      > ul {
        margin: 0.5rem 0 1rem;
        padding: 0;

        > li {
          line-height: 1.4em;
          margin: 0;
          padding: 0;

          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }

          > a {
            display: inline-block;
            color: currentColor;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              bottom: 0rem;
              left: 0;
              height: 1px;
              width: 100%;
              background-color: currentColor;
              transform: scaleX(0);
              transition: transform 0.25s $transition-timing--linear;
              transform-origin: right center;
            }

            &:hover,
            &:focus {
              text-decoration: none;
              color: currentColor;

              &::after {
                transform: scaleX(1);
                transform-origin: left center;
              }
            }
          }
        }
      }
    }
  }
}