mixin rubrics()

  .s-rubrics&attributes(attributes)
    h3.s-rubrics__title Рубрики
    ul.s-rubrics__list
      li
        button(
          data-toggle='collapse', href='#electronic', role='button', aria-expanded='false', aria-controls='electronic'
        ) Электроника
        ul#electronic.collapse.multi-collapse
          li: a(href='/') Все
          li: a(href='/') Смартфоны
          li: a(href='/') Ноутбуки
          li: a(href='/') Акустика
          li: a(href='/') Дроны
          li: a(href='/') Интернет
          li: a(href='/') Фото и видео
      li
        button(
          data-toggle='collapse', href='#health', role='button', aria-expanded='false', aria-controls='health'
        ) Здоровье
        ul#health.collapse.multi-collapse
          li: a(href='/') First
          li: a(href='/') Second
          li: a(href='/') Third
          li: a(href='/') Fourth
      li
        button(
          data-toggle='collapse', href='#domestic', role='button', aria-expanded='false', aria-controls='domestic'
        ) Бытовая техника
        ul#domestic.collapse.multi-collapse
          li: a(href='/') First
          li: a(href='/') Second
          li: a(href='/') Third
          li: a(href='/') Fourth
      li
        button(
          data-toggle='collapse', href='#fix', role='button', aria-expanded='false', aria-controls='fix'
        ) Ремонт
        ul#fix.collapse.multi-collapse
          li: a(href='/') First
          li: a(href='/') Second
          li: a(href='/') Third
          li: a(href='/') Fourth
      li
        button(
          data-toggle='collapse', href='#kids', role='button', aria-expanded='false', aria-controls='kids'
        ) Детям
        ul#kids.collapse.multi-collapse
          li: a(href='/') First
          li: a(href='/') Second
          li: a(href='/') Third
          li: a(href='/') Fourth
      li
        button(
          data-toggle='collapse', href='#hobby', role='button', aria-expanded='false', aria-controls='hobby'
        ) Хобби
        ul#hobby.collapse.multi-collapse
          li: a(href='/') First
          li: a(href='/') Second
          li: a(href='/') Third
          li: a(href='/') Fourth