.s-category-preview-accent {
  padding: 4.5rem 1rem;
  position: relative;
  background-color: #141414;
  color: #fff;

  @media only screen and (min-width: $screen-md) {
    padding: 4.5rem 1rem;
  }

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    position: relative;
    z-index: 2;
  }

  &__title {
    font-size: ms(0);
    line-height: 1.4em;
    margin-bottom: 4.5rem;
    font-weight: 700;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 6rem;
    }
  }

  &__item {
    margin-bottom: 2.25rem;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__meta-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-md) {
      margin-bottom: 2.25rem;
    }
  }

  &__meta-item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }

  &__item-title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    color: currentColor;
    margin-top: 0;
    margin-bottom: 2.25rem;
    max-width: 530px;

    @media only screen and (min-width: $screen-md) {
      font-size: ms(2);
    }

    a {
      color: currentColor;
      text-decoration: none;
      display: block;
      transition: all 0.25s $transition-timing--linear;

      &:hover,
      &:focus {
        text-decoration: none;
        color: currentColor;
        display: block;
        opacity: 0.75;
      }
    }
  }

  &__item-desc {
    font-size: ms(-1);
    line-height: 1.5em;
    opacity: 0.75;
    margin-top: 0;
    margin-bottom: 2.25rem;
    max-width: 640px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: $primary-color;
      left: 0;
      top: -0.75rem;
      width: 2.25rem;
      height: 1px;
    }
  }

  &__also-read {
    padding-top: 2.25rem;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(#fff, 0.125);
    }

    @media only screen and (min-width: $screen-md) {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 310px;
      padding-top: 0;

      &::before {
        top: 0;
        left: -1.5rem;
        width: 1px;
        height: 100%;
      }
    }
  }

  &__also-read-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__also-read-item {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#141414, 0.25);

      @media only screen and (max-width: ($screen-md - 1)) {
        height: 75%;
        background-image: linear-gradient(to bottom, hsla(0, 0%, 8%, 0.25), ease-in-out, hsla(0, 0%, 8%, 1));
      }
    }

    img {
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 75%;
      object-fit: cover;

      @media only screen and (min-width: $screen-md) {
        height: 100%;
      }
    }
  }
}