.s-page-footer {
  background-color: $bg-color--shade;
  padding: 2.25rem 1rem;

  @media only screen and (min-width: $screen-md) {
    padding-top: 3rem;
  }

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__top {

    @media only screen and (min-width: $screen-md) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__intro {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 30%;
      max-width: 30%;
    }

    @media only screen and (min-width: $screen-md) {
      margin: 0;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 2.25rem;
  }

  &__slogan {
    position: relative;
    max-width: 310px;
    margin-top: 0;
    font-size: ms(-1);
    line-height: 1.4em;
    color: rgba($text-color, 0.75);
    display: block;

    &::before {
      position: absolute;
      content: '';
      background-color: $primary-color;
      left: 0;
      top: -0.75rem;
      width: 2.25rem;
      height: 1px;
    }
  }

  &__nav {
    padding-top: 1.5rem;
    margin-bottom: 2.25rem;
    border-top: 1px solid $border-color;

    @media only screen and (min-width: $screen-xs) {
      display: flex;
      flex-flow: row wrap;
    }

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 40%;
      max-width: 40%;
      padding: 0;
      margin: 0;
      border: 0;
    }
  }

  &__nav-block {

    @media only screen and (min-width: $screen-xs) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__nav-subtitle {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.4em;
      font-weight: 500;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        color: currentColor;
        opacity: 0.75;
      }
    }
  }

  &__privacy {
    position: relative;
    max-width: 310px;
    margin-top: 0;
    font-size: ms(-1);
    line-height: 1.4em;
    color: rgba($text-color, 0.75);
    display: block;

    span {
      display: block;

      &:first-child {
        margin-bottom: 0.25rem;
      }
    }

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 30%;
      max-width: 30%;
    }

    &::before {
      position: absolute;
      content: '';
      background-color: $primary-color;
      left: 0;
      top: -0.75rem;
      width: 2.25rem;
      height: 1px;
    }

    @media only screen and (min-width: $screen-md) {
      padding-top: 1.75rem;

      &::before {
        top: 0.5rem;
      }
    }
  }

  &__bottom {
    border-top: 1px solid $border-color;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding-top: 0.75rem;

    @media only screen and (min-width: $screen-md) {
      margin-top: 4.5rem;
    }
  }

  &__rating {
    font-size: ms(0);
    font-weight: 700;
    line-height: 1em;
  }

  &__created {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    color: rgba($text-color, 0.25);

    a {
      color: $text-color;

      svg {
        fill: currentColor;
      }
    }
  }
}