mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner
      .s-page-footer__top
        .s-page-footer__intro
          +logo('/').s-page-footer__logo
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 94 18', width='94', height='18')
              path(fill='#282f33', d='M5.69336 14.2832c1.39648 0 2.73437-.166 3.75-.5078l.23437-3.3399c-.37109.0977-.80078.1465-1.1914.1465-.82031 0-1.11328-.2636-1.11328-1.00583V7.06641h2.20703V3.74609H7.37305V.71875L1.36719 1.89062v1.85547H.292969v3.32032H1.36719v3.83789c0 2.2754 1.40625 3.3789 4.32617 3.3789zm12.28514.0195c5.1953 0 7.7051-1.6992 7.7051-5.22458v-.40039c0-3.52539-2.5098-5.22461-7.7051-5.22461s-7.7051 1.69922-7.7051 5.22461v.40039c0 3.52538 2.5098 5.22458 7.7051 5.22458zm0-3.3203c-1.084 0-1.6015-.6445-1.6015-1.99217v-.22461c0-1.35742.5175-1.99218 1.6015-1.99218s1.6016.63476 1.6016 1.99218v.22461c0 1.34767-.5176 1.99217-1.6016 1.99217zm18.9551-7.43162c-2.0996 0-3.5645.82031-4.5215 2.5293l-.1855-.08789c.3808-1.07422.5371-1.81641.5371-2.2461h-6.0059V17.418h6.0059v-2.5293c0-1.0938-.1367-1.8946-.5371-3.0274l.1855-.0976c.9668 1.709 2.4317 2.5293 4.5215 2.5293 3.3984 0 5.0391-1.7578 5.0391-5.40042v-.03906c0-3.57422-1.6407-5.30274-5.0391-5.30274zm-2.5293 3.21289c1.0547 0 1.5625.6543 1.5625 2.02149v.27343c0 1.37691-.5078 2.04101-1.5625 2.04101-1.1035 0-1.6406-.6641-1.6406-2.04101v-.27343c0-1.36719.5371-2.02149 1.6406-2.02149zm15.5859 7.43163c5.2637 0 7.1778-1.2012 7.1778-3.6719 0-2.65621-2.4805-3.04684-4.3067-3.28121l-1.8164-.23438c-1.8164-.23437-2.3047-.38086-2.3047-.70312 0-.3418.2832-.50781 1.0059-.50781 1.0449 0 1.4941.2539 1.4258.92773l5.6543-.01953c.0781-2.17774-1.9239-3.25196-7.041-3.25196-4.8926 0-6.8164 1.34766-6.8164 3.63282 0 2.33398 2.0996 2.71484 3.8964 2.99806l1.8067.2734c1.7969.2832 2.5976.4395 2.5976.8789 0 .3809-.4199.5664-1.2988.5664-.9375 0-1.3672-.3515-1.2988-1.1132l-5.8203-.0586c-.0684 2.5293 1.7382 3.5644 7.1386 3.5644zm15.7618.1074c5.1953 0 7.705-1.6992 7.705-5.22458v-.40039c0-3.52539-2.5097-5.22461-7.705-5.22461-5.1954 0-7.7051 1.69922-7.7051 5.22461v.40039c0 3.52538 2.5097 5.22458 7.7051 5.22458zm0-3.3203c-1.084 0-1.6016-.6445-1.6016-1.99217v-.22461c0-1.35742.5176-1.99218 1.6016-1.99218 1.0839 0 1.6015.63476 1.6015 1.99218v.22461c0 1.34767-.5176 1.99217-1.6015 1.99217zM77.0605 14h8.3204l3.7793-10.25391h-5.9278L82.0508 7.7207c-.2344.77149-.4395 1.5918-.625 2.5684h-.1953c-.1856-.9766-.3907-1.79691-.6348-2.5684l-1.2305-3.97461h-6.1035L77.0605 14zm11.0254-4.28711V14h5.3809V9.71289h-5.3809z')
          strong.s-page-footer__slogan Подборка самых актуальных обзоров и рейтингов товаров и услуг.
        .s-page-footer__nav
          .s-page-footer__nav-block
            h3.s-page-footer__nav-subtitle Категории
            ul.s-page-footer__nav-list
              li: a(href='/') Электроника
              li: a(href='/') Здоровье
              li: a(href='/') Бытовая техника
              li: a(href='/') Ремонт
              li: a(href='/') Товары для детей
              li: a(href='/') Хобби
          .s-page-footer__nav-block
            h3.s-page-footer__nav-subtitle Информация
            ul.s-page-footer__nav-list
              li: a(href='/') О нас
              li: a(href='/') Редакция
              li: a(href='/') Реклама на сайте
              li: a(href='/') Соглашения и правила
              li: a(href='/') Правообладателям
              li: a(href='/') Карта сайта
        .s-page-footer__privacy
          span Копирование материала разрешено только с активной гиперссылкой на сайт “topsov”
          span © 2020 — Topsov
      .s-page-footer__bottom
        .s-page-footer__rating
          | 16+
        .s-page-footer__created
          a(href='/')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 67 12', width='67', height='12')
              path(d='M0 8.66512c.972122.73953 2.91636 1.24186 4.26888 1.24186 2.24011 0 3.81805-.82326 3.81805-2.90233 0-1.92558-1.22572-2.34419-3.94485-2.95814-1.43705-.33488-2.16966-.57209-2.16966-1.25581 0-.79535.69035-.97675 1.60611-.97675.90168 0 2.33873.30698 3.7476.80931V.934884C6.38219.474419 4.90287.139535 3.76169.139535 1.57794.139535.140887.934884.140887 2.88837c0 1.54884.958033 2.20465 3.508093 2.77675 1.81744.4186 2.60641.64186 2.60641 1.45116 0 .92093-.73261 1.11628-1.98651 1.11628-1.26798 0-2.94454-.47442-4.26888-1.36744v1.8z')
              path(d='M13.3852 2.44186c-.8735 0-1.578.30698-2.057 1.00465V2.5814H9.49668V12h1.83152V8.88837c.479.71163 1.1835 1.01861 2.057 1.01861 2.1837 0 3.1277-1.68838 3.1277-3.73954s-.944-3.72558-3.1277-3.72558zm-.3804 5.7907c-1.1694 0-1.6766-.62791-1.6766-2.06512 0-1.42325.5072-2.05116 1.6766-2.05116 1.1693 0 1.6765.62791 1.6765 2.05116 0 1.43721-.5072 2.06512-1.6765 2.06512z')
              path(d='M22.2438 2.5814h-4.5366v7.18604h1.8315V4.25581h2.7051V2.5814z')
              path(d='M23.6542 0v1.39535h1.8315V0h-1.8315zm0 2.5814v7.18604h1.8315V2.5814h-1.8315z')
              path(d='M33.7948 2.5814h-6.6217v7.18604h1.8315V4.25581h2.9586v5.51163h1.8316V2.5814z')
              path(d='M40.3068 2.5814v.76744c-.4226-.53024-1.0425-.90698-2.0569-.90698-2.1133 0-3.1277 1.57674-3.1277 3.37674 0 1.81396 1.0144 3.3907 3.1277 3.3907 1.0144 0 1.6343-.37674 2.0569-.83721v1.95351H36.362V12h5.7764V2.5814h-1.8316zm-1.6765 4.95348c-1.2398 0-1.6766-.6279-1.6766-1.71628 0-1.07441.4368-1.70232 1.6766-1.70232s1.6765.62791 1.6765 1.70232c0 1.15814-.4367 1.71628-1.6765 1.71628z')
              path(d='M47.7264 2.44186c-.8735 0-1.5779.30698-2.0569 1.00465V0h-1.8316v9.76744h1.8316v-.87907c.479.71163 1.1834 1.01861 2.0569 1.01861 2.1838 0 3.1277-1.68838 3.1277-3.73954s-.9439-3.72558-3.1277-3.72558zm-.3804 5.7907c-1.1693 0-1.6765-.62791-1.6765-2.06512 0-1.42325.5072-2.05116 1.6765-2.05116 1.1694 0 1.6766.62791 1.6766 2.05116 0 1.43721-.5072 2.06512-1.6766 2.06512z')
              path(d='M58.1505 8.02326V2.5814h-5.4946v1.60465h3.6631v1.53488c-.3522-.51628-.9017-.83721-1.9583-.83721-1.7189 0-2.5219 1.22791-2.5219 2.51163 0 1.28372.803 2.51163 2.5219 2.51163 1.0566 0 1.6061-.33489 1.9583-.83721v.69767h2.7473V8.02326h-.9158zM54.9947 8.4c-.9581 0-1.3244-.44651-1.3244-1.00465 0-.55814.3663-1.00465 1.3244-1.00465.958 0 1.3243.44651 1.3243 1.00465 0 .55814-.3663 1.00465-1.3243 1.00465z')
              path(d='M65.1685 2.5814v3.34883c0 1.11628-.5072 1.60465-1.6061 1.60465-1.099 0-1.6062-.48837-1.6062-1.60465V2.5814h-1.8315V6c0 1.91163.8735 3.2093 3.0854 3.2093.8454 0 1.5357-.30697 1.9584-.76744v1.88374h-4.0858V12H67V2.5814h-1.8315z')
