mixin popular-articles()

  section.s-popular-articles
    .s-popular-articles__inner
      .s-popular-articles__header
        h2.s-popular-articles__title Популярные статьи
        .s-popular-articles__slider-nav
          .s-popular-articles__slider-nav-btn.s-popular-articles__slider-nav-btn--prev
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
              path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')
          .s-popular-articles__slider-nav-btn.s-popular-articles__slider-nav-btn--next
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
              path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')
      .s-popular-articles__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +article-preview-medium('Эй, цирюльникъ, ёжик выстриги, да щетину ряхи сбрей, феном вошь за печь гони', 'https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Фото и видео')
            .swiper-slide
              +article-preview-medium('Экс-граф? Плюш изъят. Бьём чуждый цен хвощ', 'https://images.unsplash.com/photo-1492560704044-e15259ca1c61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Музыкальное оборудование')
            .swiper-slide
              +article-preview-medium('Эй, жлоб! Где туз? Прячь юных съёмщиц в шкаф', 'https://images.unsplash.com/photo-1507138170390-6625c5fd0115?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
            .swiper-slide
              +article-preview-medium('Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч', 'https://images.unsplash.com/photo-1592100231805-768633151f65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Электроника')
            .swiper-slide
              +article-preview-medium('В чащах юга жил-был цитрус... — да, но фальшивый экземпляръ', 'https://images.unsplash.com/photo-1505302767374-66bca19b3219?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
            .swiper-slide
              +article-preview-medium('Южно-эфиопский грач увёл мышь за хобот на съезд ящериц', 'https://images.unsplash.com/photo-1549488497-256795402cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Ремонт')
            .swiper-slide
              +article-preview-medium('Аэрофотосъёмка ландшафта уже выявила земли богачей и процветающих крестьян', 'https://images.unsplash.com/photo-1526758097130-bab247274f58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
            .swiper-slide
              +article-preview-medium('Шифровальщица попросту забыла ряд ключевых множителей и тэгов', 'https://images.unsplash.com/photo-1504198266287-1659872e6590?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
