.s-popular-articles {
  padding: 2.25rem 1rem;

  @media only screen and (min-width: $screen-sm) {
    padding: 4.5rem 1rem;
  }

  &__inner {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }

  &__header {
    position: relative;
    padding-top: 0.75rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
    }
  }

  &__title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 700;
    margin-top: 0;
  }

  &__slider-nav {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 2rem;
    align-items: center;
  }

  &__slider-nav-btn {
    position: relative;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s $transition-timing--linear;

    &:first-child {
      margin-right: 1.5rem;
    }

    &[aria-disabled='true'] {

      svg {
        opacity: 0.25;
      }
    }

    svg {
      display: block;
      transition: all 0.5s $transition-timing--linear;
      fill: currentColor;
    }

    &:not([aria-disabled='true']):active {

      @media only screen and (max-width: ($screen-sm - 1)) {
        background-color: lighten($text-color, 5%);
      }
    }

    &:active {

      svg {

        @media only screen and (min-width: $screen-sm) {
          fill: $primary-color;
        }
      }
    }

    &::after {
      position: absolute;
      content: '';
      top: -0.75rem;
      right: -0.75rem;
      bottom: -0.75rem;
      left: -0.75rem;
    }

    &--prev {

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }

      @media only screen and (max-width: ($screen-sm - 1)) {
        border-right: 1px solid rgba(#fff, 0.05);
      }
    }
  }
}