mixin also-read(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-also-read--' + modsList[i].trim();
      }
    }

  .s-also-read(class=allMods)&attributes(attributes)
    +also-read-block('Новые статьи')
      +also-read-item()
        +article-preview-small('Экс-граф? Плюш изъят. Бьём чуждый цен хвощ', 'Смартфоны')
      +also-read-item()
        +article-preview-small('У месторождения кварцующихся фей без слёз хочется электрическую пыль', 'Интернет')
      +also-read-item()
        +article-preview-small('Аэрофотосъёмка ландшафта уже выявила земли богачей и процветающих крестьян', 'Фото и видео')
      +also-read-item()
        +article-preview-small('Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч', 'Интернет')
    +also-read-block('Популярное')
      +also-read-item()
        +article-preview-small('Экс-граф? Плюш изъят. Бьём чуждый цен хвощ', 'Смартфоны')
      +also-read-item()
        +article-preview-small('У месторождения кварцующихся фей без слёз хочется электрическую пыль', 'Интернет')
      +also-read-item()
        +article-preview-small('Аэрофотосъёмка ландшафта уже выявила земли богачей и процветающих крестьян', 'Фото и видео')
      +also-read-item()
        +article-preview-small('Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч', 'Интернет')



mixin also-read-block(title)

  .s-also-read__block
    h2.s-also-read__block-title #{title}
    ul.s-also-read__list
      block



mixin also-read-item()

  li.s-also-read__item
    block