.s-also-read {

  &__block {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: currentColor;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__block-title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 700;
    margin-top: 0;
    padding-top: 0.75rem;
    margin-bottom: 1.5rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
     margin: 0;
     padding: 0;

     &:not(:last-child) {
       margin-bottom: 1.5rem;
     }
  }
}