mixin article-preview-medium(title, image, label)

  article.s-article-preview-medium
    +label(label).s-article-preview-medium__label
    a.s-article-preview-medium__cover(href='/')
      img(src=image, alt='')
    .s-article-preview-medium__info
      h3.s-article-preview-medium__title
        a(href='/') #{title}
      +additional-label('Просмотров: 317').s-article-preview-medium__views
