.s-article-preview-medium {
  position: relative;

  &:hover {

    .s-article-preview-medium__cover {

      img {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: ms(0);
    font-weight: 700;
    line-height: 1.25em;
    color: currentColor;

    a {
      color: currentColor;
      text-decoration: none;
      display: block;
      transition: all 0.25s $transition-timing--linear;

      &:hover,
      &:focus {
        text-decoration: none;
        color: currentColor;
        display: block;
        opacity: 0.75;
      }
    }
  }

  &__label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
  }

  &__cover {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;
    margin-bottom: 0.5rem;
    height: 210px;
    display: block;

    @media only screen and (min-width: $screen-sm) {
      height: auto;

      &::before {
        display: block;
        content: '';
        width: 100%;
        padding-top: (3 / 4) * 100%;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 2s $transition-timing--linear;
    }
  }
}