mixin label(text, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-label--' + modsList[i].trim();
      }
    }

  a.s-label(href='/', class=allMods)&attributes(attributes) #{text}