.s-label {
  display: inline-flex;
  font-size: ms(-2);
  line-height: 1.4em;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $text-color;
  padding: 0.4rem 0.8rem;
  border-radius: $border-radius;
  transition: all 0.25s $transition-timing--linear;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    background-color: darken($text-color, 10%);
  }
}