extends pug/layout.pug

block meta
  - var title = 'Article';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-menu
  +search

block content
  .s-article
    .s-article__inner
      .s-article__cover
        img(src='https://images.unsplash.com/photo-1592490309181-bc4951396f30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
      .s-article__layout

        .s-article__writer
          +writer()

        .s-article__nav
          ul.s-article__nav-list
            li: a(href='#first') First anchor
            li: a(href='#second') Second anchor
            li: a(href='#third') Third anchor
            li: a(href='#fourth') Fourth anchor
            li: a(href='#fifth') Fifth anchor

        .s-article__intro
          ul.s-article__label-list
            li.s-article__label-item
              +label('Бытовая техника')
            li.s-article__label-item
              +label('Чайники')
            li.s-article__label-item
              +additional-label('Просмотров: 348')
            li.s-article__label-item
              +additional-label('Комментариев: 29')
          h1.s-article__title Мороженое против традиционных ценностей: разобрались, чем россиян так пугает радуга
          .s-article__attention-grabber
            p Недавно мы подробно написали о том, что могло бы сделать государство для того, чтобы семьям с детьми жилось лучше, комфортнее и спокойнее. Однако пока предложенные способы остаются лишь в наших мечтах, а государство нашло нового врага — радугу, которая своими цветами напоминает флаг ЛГБТ. Разбираемся, чем радуга напугала россиян, и что она вообще символизирует.

        .s-article__main
          .s-article__text-block#first
            p Главным ньюсмейкером первой недели июля (кроме голосования за поправки к Конституции) стала глава Союза женщин России Екатерина Лахова (та самая, которая женщин «старородками» обзывала). Во время встречи рабочей группы по подготовке изменений в Конституцию Екатерина обратилась к президенту с просьбой взять на контроль пропаганду традиционных ценностей, теперь закрепленных в Конституции.
            p Тревога Лаховой была связана с рекламными щитами мороженого «Радуга», которое производит российская компания «Чистая Линия». «У нас сегодня рекламные щиты, например, вывешивают радужные, красивые эти цвета», — сказала Екатерина. — «… Это косвенно, но все-таки заставляет привыкать наших детей к тому цвету, к тому флагу».
            p Путин пообещал «выстроить общественный контроль» за «пропагандой нетрадиционных для нас ценностей». Пользователи интернета, конечно же, бурно отреагировали на заявление Лаховой и выразили опасение, что в России скоро могут запретить радугу вообще.
          .s-article__text-block#second
            h2 Как связана радуга и ЛГБТ-сообщество?
            p Радужный флаг как символ ЛГБТ-сообщества появился в 1978 году, его придумал художник и активист Гилберт Бейкер. За это время флаг претерпел несколько изменений — например, оригинальная версия флага состояла из восьми полос — семи «классических» цветов радуги и розовой полосы, расположенной над красной. Однако от розовой полосы довольно быстро отказались — ярко-розовая ткань была в дефиците.
            blockquote В 1979 году организаторы парада в Сан-Франциско захотели разделить флаг пополам, чтобы украсить им две стороны улицы.
            p Так флаг лишился голубой полосы, чтобы количество полос было четным: красная, оранжевая, желтая, синяя, зеленая и фиолетовая.
          .s-article__text-block#third
            h2 Что вообще символизирует радуга?
            p Вообще радуга — это природное явление, которое возникает, когда яркий свет (например, Солнца) светит на множество водяных капель. Чаще всего радугу можно наблюдать после дождя или если смотреть на работающую поливальную машину в солнечный день.
            p Радуга встречается во многих книгах и фильмах и, как правило, ее появление связано с чем-то радостным и чудесным. Радуга упоминается в Библии как «знамение завета между Богом и между землею» и впервые появляется после того, как Ной со своей семьей вышел из ковчега после окончания Великого потопа.
            p В скандинавской мифологии радуга считается мостом, который соединяет мир людей и мир богов, в древнегреческой — символизирует вестницу богов Ириду. В XX веке радуга встречалась на флаге Международного кооперативного альянса, учрежденного экономистом Шарлем Жидом в 1925 году, затем стала символом движения за мир, а потом широко использовалась в субкультурах хиппи, нью-эйдж, и некоторых других.
          .s-article__text-block#fourth
            h2 Что вообще?
            +table()
              thead
                tr
                  th Property
                  th Value
              tbody
                tr
                  td Cum horribilem walking
                  td George Washington
                tr
                  td Dead resurgere de crazed
                  td John Adams
                tr
                  td Sepulcris creaturis
                  td Thomas Jefferson
                tr
                  td Zombie sicut de grave feeding iride et serpens
                  td James Madison
                tr
                  td Pestilentia, shaun ofthe dead scythe animated corpses ipsa screams
                  td James Monroe
            p Рекламный щит мороженого — это единственное место, где можно увидеть радугу?
            p Конечно же, нет. На территории России существует множество детских организаций (например, детских садов и летних лагерей) с соответствующим названием и символикой, есть несколько населенных пунктов с названием Радужный и изображением радуги на флаге (один из них, кстати, в Московской области), а еще радужный флаг можно видеть на всей территории Еврейской автономной области — это официальный символ субъекта РФ.

          +item-review()
          .s-article__text-block#fifth
            p Рекламный щит мороженого — это единственное место, где можно увидеть радугу?
            p Конечно же, нет. На территории России существует множество детских организаций (например, детских садов и летних лагерей) с соответствующим названием и символикой, есть несколько населенных пунктов с названием Радужный и изображением радуги на флаге (один из них, кстати, в Московской области), а еще радужный флаг можно видеть на всей территории Еврейской автономной области — это официальный символ субъекта РФ.

          .s-article__share
            h4.s-article__share-subtitle Поделиться:
            .ya-share2(data-services='vkontakte,facebook')

        .s-article__also-read
          +also-read()
          +rubrics().s-article__rubrics

  +continue-reading()
  +popular-articles()
  +to-top()

block footer
  +page-footer()

block append page-bottom
  script(src='https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
  script(src='https://yastatic.net/share2/share.js')
  script.
    var articleNav = new Gumshoe('.s-article__nav-list a');