extends pug/layout.pug

block meta
  - var title = 'Category';
  title= title
  meta(name='description', content='')

block header
  +page-header
  +mobile-menu
  +search

block content
  section.s-category
    .s-category__inner
      header.s-category__header
        h1.s-category__title Электроника
        ul.s-category__directions-list
          li.s-category__directions-item.s-category__directions-item--is-active
            a(href='') Все
          li.s-category__directions-item
            a(href='') Смартфоны
          li.s-category__directions-item
            a(href='') Ноутбуки
          li.s-category__directions-item
            a(href='') Акустика
          li.s-category__directions-item
            a(href='') Дроны
          li.s-category__directions-item
            a(href='') Интернет
          li.s-category__directions-item
            a(href='') Фото и видео
      .s-category__layout
        .s-category__main
          .s-category__main-grid
            .s-category__main-grid-cell
              +article-preview-medium('Эй, цирюльникъ, ёжик выстриги, да щетину ряхи сбрей, феном вошь за печь гони', 'https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Фото и видео')
            .s-category__main-grid-cell
              +article-preview-medium('Экс-граф? Плюш изъят. Бьём чуждый цен хвощ', 'https://images.unsplash.com/photo-1492560704044-e15259ca1c61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Музыкальное оборудование')
            .s-category__main-grid-cell
              +article-preview-medium('Эй, жлоб! Где туз? Прячь юных съёмщиц в шкаф', 'https://images.unsplash.com/photo-1507138170390-6625c5fd0115?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
            .s-category__main-grid-cell
              +article-preview-medium('Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч', 'https://images.unsplash.com/photo-1592100231805-768633151f65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Электроника')
            .s-category__main-grid-cell
              +article-preview-medium('В чащах юга жил-был цитрус... — да, но фальшивый экземпляръ', 'https://images.unsplash.com/photo-1505302767374-66bca19b3219?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
            .s-category__main-grid-cell
              +article-preview-medium('Южно-эфиопский грач увёл мышь за хобот на съезд ящериц', 'https://images.unsplash.com/photo-1549488497-256795402cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Ремонт')
            .s-category__main-grid-cell
              +article-preview-medium('Аэрофотосъёмка ландшафта уже выявила земли богачей и процветающих крестьян', 'https://images.unsplash.com/photo-1526758097130-bab247274f58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
            .s-category__main-grid-cell
              +article-preview-medium('Шифровальщица попросту забыла ряд ключевых множителей и тэгов', 'https://images.unsplash.com/photo-1504198266287-1659872e6590?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
            .s-category__main-grid-cell
              +article-preview-medium('Эй, цирюльникъ, ёжик выстриги, да щетину ряхи сбрей, феном вошь за печь гони', 'https://images.unsplash.com/photo-1478826160983-e6db8c7d537a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Фото и видео')
            .s-category__main-grid-cell
              +article-preview-medium('Экс-граф? Плюш изъят. Бьём чуждый цен хвощ', 'https://images.unsplash.com/photo-1492560704044-e15259ca1c61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Музыкальное оборудование')
            .s-category__main-grid-cell
              +article-preview-medium('Эй, жлоб! Где туз? Прячь юных съёмщиц в шкаф', 'https://images.unsplash.com/photo-1507138170390-6625c5fd0115?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
            .s-category__main-grid-cell
              +article-preview-medium('Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч', 'https://images.unsplash.com/photo-1592100231805-768633151f65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Электроника')
            .s-category__main-grid-cell
              +article-preview-medium('В чащах юга жил-был цитрус... — да, но фальшивый экземпляръ', 'https://images.unsplash.com/photo-1505302767374-66bca19b3219?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
            .s-category__main-grid-cell
              +article-preview-medium('Южно-эфиопский грач увёл мышь за хобот на съезд ящериц', 'https://images.unsplash.com/photo-1549488497-256795402cc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Ремонт')
            .s-category__main-grid-cell
              +article-preview-medium('Аэрофотосъёмка ландшафта уже выявила земли богачей и процветающих крестьян', 'https://images.unsplash.com/photo-1526758097130-bab247274f58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
            .s-category__main-grid-cell
              +article-preview-medium('Шифровальщица попросту забыла ряд ключевых множителей и тэгов', 'https://images.unsplash.com/photo-1504198266287-1659872e6590?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Здоровье')
          +pagination().s-category__pagination
            +pagination-item('1', '/1', true)
            +pagination-item('2', '/2')
            +pagination-item('3', '/3')
            +pagination-item('4', '/4')
            +pagination-item('5', '/5')
            +pagination-item('...', '/...')
            +pagination-item('99', '/99')
        .s-category__also-read
          +also-read()

  +to-top()

block footer
  +page-footer()