extends pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  +page-header('dark')
  +mobile-menu
  +search

block content
  +promo
  section.s-category-preview
    .s-category-preview__inner
      header.s-category-preview__header
        h2.s-category-preview__title Электроника
        a.s-category-preview__show-more-link(href='/')
          | Смотреть все
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 6 10', width='6', height='10')
            path(d='M1e-7 8.80435L1.15789 10l3.68422-3.80435L6 5 4.84211 3.80435 1.1579-4.2e-7 7.7e-7 1.19565 3.68421 5 1e-7 8.80435z')
      .s-category-preview__groups
        .s-category-preview__group.s-category-preview__group--left
          +article-preview-big('Рейтинг High-end наушников', 'https://images.unsplash.com/photo-1531860898813-8cecde84646c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', 'Наушники')
        .s-category-preview__group.s-category-preview__group--center
          ul.s-category-preview__list
            li.s-category-preview__item
              +article-preview-medium('Эти ящерицы чешут вперёд за ключом, но багаж в сейфах, поди подъедь', 'https://images.unsplash.com/photo-1486475554424-2fa50cd59f18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Midi-клавиатуры')
            li.s-category-preview__item
              +article-preview-medium('Эх, взъярюсь, толкну флегматика: Дал бы щец жарчайших, Пётр!', 'https://images.unsplash.com/photo-1477038208128-795a32677acd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Наушники')
        .s-category-preview__group.s-category-preview__group--right
          ul.s-category-preview__list
            li.s-category-preview__item
              +article-preview-small('Экс-граф? Плюш изъят. Бьём чуждый цен хвощ', 'Смартфоны')
            li.s-category-preview__item
              +article-preview-small('Эй, цирюльникъ, ёжик выстриги, да щетину ряхи сбрей, феном вошь за печь гони', 'Ноутбуки')
            li.s-category-preview__item
              +article-preview-small('У месторождения кварцующихся фей без слёз хочется электрическую пыль', 'Интернет')
            li.s-category-preview__item
              +article-preview-small('Аэрофотосъёмка ландшафта уже выявила земли богачей и процветающих крестьян', 'Фото и видео')
            li.s-category-preview__item
              +article-preview-small('Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч', 'Интернет')

  section.s-category-preview.s-category-preview--reverse
    .s-category-preview__inner
      header.s-category-preview__header
        h2.s-category-preview__title Здоровье
        a.s-category-preview__show-more-link(href='/')
          | Смотреть все
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 6 10', width='6', height='10')
            path(d='M1e-7 8.80435L1.15789 10l3.68422-3.80435L6 5 4.84211 3.80435 1.1579-4.2e-7 7.7e-7 1.19565 3.68421 5 1e-7 8.80435z')
      .s-category-preview__groups
        .s-category-preview__group.s-category-preview__group--left
          +article-preview-big('Здоровье', 'https://images.unsplash.com/photo-1470267826516-96fa10965c57?ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80', 'Наушники')
        .s-category-preview__group.s-category-preview__group--center
          ul.s-category-preview__list
            li.s-category-preview__item
              +article-preview-medium('Эти ящерицы чешут вперёд за ключом, но багаж в сейфах, поди подъедь', 'https://images.unsplash.com/photo-1503236823255-94609f598e71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Midi-клавиатуры')
            li.s-category-preview__item
              +article-preview-medium('Эх, взъярюсь, толкну флегматика: Дал бы щец жарчайших, Пётр!', 'https://images.unsplash.com/photo-1567722272124-24bddf9dce1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60', 'Наушники')
        .s-category-preview__group.s-category-preview__group--right
          ul.s-category-preview__list
            li.s-category-preview__item
              +article-preview-small('Экс-граф? Плюш изъят. Бьём чуждый цен хвощ', 'Смартфоны')
            li.s-category-preview__item
              +article-preview-small('Эй, цирюльникъ, ёжик выстриги, да щетину ряхи сбрей, феном вошь за печь гони', 'Ноутбуки')
            li.s-category-preview__item
              +article-preview-small('У месторождения кварцующихся фей без слёз хочется электрическую пыль', 'Интернет')
            li.s-category-preview__item
              +article-preview-small('Аэрофотосъёмка ландшафта уже выявила земли богачей и процветающих крестьян', 'Фото и видео')
            li.s-category-preview__item
              +article-preview-small('Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч', 'Интернет')

  section.s-category-preview-accent
    .s-category-preview-accent__inner
      h2.s-category-preview-accent__title Бытовая техника
      .s-category-preview-accent__item
        ul.s-category-preview-accent__meta-list
          li.s-category-preview-accent__meta-item
            +label('Утюги')
          li.s-category-preview-accent__meta-item
            +additional-label('Просмотров: 39 781')
        h3.s-category-preview-accent__item-title
          a(href='') Лингвисты в ужасе: фиг выговоришь этюд: “подъём челябинский, запах щец”.
        p.s-category-preview-accent__item-desc Юный директор целиком сжевал весь объём продукции фундука (товара дефицитного и деликатесного), идя энергично через хрустящий камыш.
        +writer()
      .s-category-preview-accent__also-read
        ul.s-category-preview-accent__also-read-list
          li.s-category-preview-accent__also-read-item
            +article-preview-small('У месторождения кварцующихся фей без слёз хочется электрическую пыль', 'Интернет')
          li.s-category-preview-accent__also-read-item
            +article-preview-small('Аэрофотосъёмка ландшафта уже выявила земли богачей и процветающих крестьян', 'Фото и видео')
          li.s-category-preview-accent__also-read-item
            +article-preview-small('Любя, съешь щипцы, — вздохнёт мэр, — кайф жгуч', 'Интернет')
    .s-category-preview-accent__cover
      img(src='https://images.unsplash.com/photo-1586556691695-28ccb67ad404?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80', alt='')

  +popular-articles()
  +to-top()

block footer
  +page-footer()