$modularscale: (
  base: 1em,
  ratio: $augmented-fourth
);

html {
  scroll-behavior: smooth;
}

body {
  word-break: break-word;
}

p {

  & + & {
    margin-top: 0.5em;
  }
}

// Text links
p a,
li a {

  &:hover,
  &:focus {}
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
}

// Heading level 1
h1 {
  font-size: ms(3);
  line-height: 1.1em;
}

// Heading level 2
h2 {
  font-size: ms(2);
  line-height: 1.2em;
}

// Heading level 3
h3 {
  font-size: ms(1);
  line-height: 1.25em;
}

// Heading level 4
h4 {
  font-size: ms(0);
  line-height: 1.4em;
}

// Heading level 5
h5 {
  font-size: ms(0);
  line-height: 1.4em;
}

// Heading level 6
h6 {
  font-size: ms(0);
  line-height: 1.4em;
}

// Lists
ul,
ol {

  &:not([class]) {

    li {
      margin-top: 0.25rem;
    }
  }

  li {
    margin-left: 1.3rem;

    @media (min-width: $screen-sm) {
      margin-left: 0;
    }

    ol,
    ul {
      margin-left: 2rem;
    }
  }
}

// Unordered lists
ul {

  &:not([class]) {

    li {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
        background-color: currentColor;
        opacity: 0.2;
        left: -1rem;
        top: 0.7rem;
        transform: translate3d(-50%, 0, 0);
      }
    }
  }
}

// Ordered lists
ol {
  counter-reset: section;
  list-style-type: none;

  li {

    &::before {
      counter-increment: section;
      content: counters(section, ".");
    }
  }
}

// Definition lists
dl {

  dt,
  dd {
    margin-left: 0;
  }

  dt {
    font-weight: 700;
  }

  dd + dt {
    padding-top: 0.5rem;
  }
}