mixin continue-reading()

  .s-continue-reading
    a.s-continue-reading__item.s-continue-reading__item--prev(href='/')
      .s-continue-reading__item-inner
        span.s-continue-reading__item-desc Предыдущая статья
        h3.s-continue-reading__item-title Рейтинг лучших мангалов для дачи и походов
        +writer()
    a.s-continue-reading__item.s-continue-reading__item--next(href='/')
      .s-continue-reading__item-inner
        span.s-continue-reading__item-desc Следующая статья
        h3.s-continue-reading__item-title Рейтинг лучших противоштормовых зонтов
        +writer()