.s-continue-reading {

  @media only screen and (min-width: $screen-xs) {
    display: flex;
    flex-flow: row nowrap;
  }

  &__item {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    color: #fff;
    padding: 2.25rem 1rem;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transform: scaleY(0);
      transition: transform 1s $transition-timing--linear;
      transform-origin: center bottom;
      z-index: 1;
    }

    @media only screen and (min-width: $screen-xs) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      padding: 2.25rem;
    }

    @media only screen and (min-width: $screen-md) {
      padding: 3rem 7.5rem;
    }

    @media only screen and (min-width: $screen-xl) {
      padding: 3.75rem 7.5rem;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: #fff;

      &::before {
        transform: scaleX(1);
        transform-origin: center top;
      }
    }

    &--prev {
      background-color: darken(#11161b, 0);

      @media only screen and (min-width: $screen-xs) {
        justify-content: flex-end;
      }

      &::before {
        background-color: darken(#11161b, 5%);
      }
    }

    &--next {
      background-color: darken(#11161b, 0);

      &::before {
        background-color: darken(#11161b, 5%);
      }
    }
  }

  &__item-inner {
    color: currentColor;
    position: relative;
    z-index: 2;
  }

  &__item-desc {
    font-size: ms(-1);
    line-height: 1.4em;
    opacity: 0.5;
    display: block;
    margin-bottom: 0.75rem;
  }

  &__item-title {
    font-size: ms(0);
    line-height: 1.25em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(1);
      line-height: 1.2em;
      margin-bottom: 2.25rem;
    }
  }
}