mixin article-preview-big(title, image, label)

  article.s-article-preview-big
    +label(label).s-article-preview-big__label
    .s-article-preview-big__info
      h3.s-article-preview-big__title
        a(href='/') #{title}
      +additional-label('Просмотров: 98').s-article-preview-big__views
      .s-article-preview-big__desc
        p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
      +writer().s-article-preview-big__writer
    a.s-article-preview-big__cover(href='/')
      img(src=image, alt='')