.s-article-preview-big {
  position: relative;
  color: #fff;
  border-radius: $border-radius;
  overflow: hidden;
  height: 370px;

  &:hover {

    .s-article-preview-big__cover {

      img {
        transform: scale(1.05);
      }
    }
  }

  @media only screen and (min-width: $screen-sm) {
    height: auto;

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%;
    }
  }

  &__label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;

    @media only screen and (min-width: $screen-md) {
      top: 2.25rem;
      left: 2.25rem;
    }
  }

  &__views {
    margin-bottom: 0.75rem;
  }

  &__info {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    z-index: 2;
    width: calc(100% - 2.5rem);

    @media only screen and (min-width: $screen-md) {
      left: 2.25rem;
      bottom: 2.25rem;
      width: calc(100% - 7.5rem);
    }
  }

  &__title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: currentColor;

    a {
      color: currentColor;
      text-decoration: none;
      display: block;
      transition: all 0.25s $transition-timing--linear;

      &:hover,
      &:focus {
        text-decoration: none;
        color: currentColor;
        display: block;
        opacity: 0.75;
      }
    }

    @media only screen and (min-width: $screen-sm) {
      font-size: ms(1);
      margin-left: -0.025rem;
    }
  }

  &__desc {
    opacity: 0.75;
    font-size: ms(-1);
    line-height: 1.5em;
    margin-bottom: 1.5rem;
    display: none;

    @media only screen and (min-width: $screen-md) {
      display: block;
    }
  }

  &__writer {
    margin-top: 1.5rem;
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom left, hsla(0, 0%, 8%, 0.25), ease-in-out, hsla(0, 0%, 8%, 0.75));
      z-index: 2;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 2s $transition-timing--linear;
    }
  }
}